// Colors

$white : #fff;
$black: #191717;
$link-color :#191717;
$link-hover:#B0060F;
$btn-color :#DDB429;



// Font Face
$robo-reg :Roboto-Regular;
$robo-med :Roboto-Medium;
$robo-bold :Roboto-Bold;
$robo-black :Roboto-Black;
$copycat:Copycat-759;
$friday-stroke:the-friday-stroke;
$raphtalia:Raphtalia;