@import 'mixin';
@import 'variable';
body{padding-top: 120px;}
.container{
    max-width: 1200px;
}

// Header section start
.header{ 
    background-color: $white; box-shadow: 0px 3px 5px rgba($black, .2);
    .top-strip{
        background-color: $black;
        color: #fff;padding: 7px 0;
        .text{font-size: .875rem;margin: 0;}
    }
    .navbar{
        padding: 20px 0;
        &-brand{
            width: 200px;height: 50px;
        }
        .navbar-toggler {
            background-color: red;
            .navbar-toggler-icon{background: url(../img/list.svg)no-repeat center;background-size: 100%;}
        }
        .collapse{
            .navbar-nav{
                .nav-item{
                    padding: 5px 10px;
                    .nav-link{
                        font-size: .875rem;color: $link-color;
                        font-family:$robo-med;text-transform: uppercase;
                        display: block;  padding: 8px 12px;  
                        border-bottom: 2px solid transparent;
                        &:hover{
                            color: $link-hover;
                            border-color: $link-hover;
                        }                    
                    }
                    .bi{
                        font-size: 1.125rem;font-weight: bold;
                        color: $black;
                        // &.bi-person{font-size: 1.5rem;}
                        &:hover{color: $link-hover;}
                    }
                    .badge{
                        background-color: $link-hover;
                        top: 25px;left:15px;font-size: .6rem;
                    }
                }
            }
        }
    }
}
// Header section end

// Hero Image section Start
.hero_img{
   .main-img{
       background-color: #DDB429; 
       .content{
           position: absolute;top: 0;width: 100%;left: 0;
           @include flexbox;
           .display-1{
               position: absolute;left: -150px;top: 45%;
               transform: rotate(-90deg);font-size: 6.5rem;
               line-height: 125px;font-family: $robo-black;
               letter-spacing: 3px;color: rgba($link-hover, .7);
           }
           .card{
               width: 55%;margin: 60px auto 0;border: none;
               cursor: pointer;
                .card-body{
                    padding: 20px 16px; background-color: $black;
                    .card-title{
                        font-size: 1.875rem;text-transform: uppercase;
                        font-family: $robo-black;color: $white;
                        letter-spacing: 1px;margin-top: 10px;
                    }
                }

               .top-bracket{
                   position: absolute;top: -15px;right: -13px;
               }
               .bot-bracket{
                position: absolute;bottom: -15px;left: -13px;
            }
           }
       }
   }
   .sec-2{
       .card{
           position: relative; overflow: hidden; text-align: center;cursor: pointer;
           .card-body{
                position: absolute; background-color: rgba($link-hover, .75);
                width: 100%;bottom: -87px;left: 0;transition: .5s;
                color: $white; @include flexbox; justify-content: space-evenly;
                .card-title{font-size: 1.30rem;font-family: $robo-bold;margin-bottom: 0;}
                .card-text{font-size: .8rem;font-family: $robo-reg;}
                .bi{font-size: 2rem;}

           }

           &:hover{
               .card-body{bottom: 0;}
           }
       }
   }
}
// Hero Image section End

// Collection Section Start
.collection{
    padding: 100px 0;
    .card{
        position: relative;text-align:center; overflow: hidden;
        cursor: pointer;
        .card-body{
            position: absolute;bottom: -20px;left: 0;width: 100%;
            background-color: rgba($black, .65); padding: 25px 16px;
            transition: .5s;
            .card-title{
                color: $white;font-family: $robo-bold;
                span{font-family: $robo-reg;}
            }
            .icons{display: none;margin:0 auto 20px;}
        }
        &:hover{
            .card-body{bottom: 0;}
            .icons{display: flex;}
        }
    }
}
// Collection Section End

// Slider Section Start
.main-slider{
    background-color: $black; padding: 100px 0;;
    .carousel{
        .card{
             padding: 20px 100px 0; position: relative;
            background-color: transparent;color: $white;border:none;
            .card-body{
                position: absolute;top: 20%;left: -50px; width: 50%;
                .card-title{
                    font-size: 2.625rem;text-transform: uppercase;position: relative;
                    z-index: 100; font-weight: 400;line-height: 50px;margin-bottom: 20px;
                    &::before{
                        content:"";width: 15%;height: 2px;background-color: $white;
                        position: absolute; top: 30%; left: -50px;
                    }
                }
                .btn{
                    font-size: 1.125rem;
                    font-family: roboto;font-weight: bold; padding: 10px 30px;
                    position: relative;border:none;z-index: 10;
                    color: $white; box-shadow: none;

                    &::before{
                        content: '';
                        position: absolute;top: 0;left: 0;width: 10%;height: 100%;
                        background-color: #DDB429;transition: .5s;color: $white;
                        z-index: -1;
                    }
                }
            }
            &:hover{
                .card-body{
                    .card-title{ z-index: 1000;}
                    .btn{  
                        &::before{width: 100%;z-index: -1;}
                    }
                }
            }

            &.slick-current{
                box-shadow: 0 0 10px rgba($black, .3);
            }
        }
        .slick-list{overflow: unset;}
        .slick-next{
            right: 200px;background-color: $white;top: unset; bottom: -100px;
            width: 35px; height: 35px;z-index: 10;
            border-radius: 50%; box-shadow: 0 0 10px rgba($black, .2);
            &::before{
                content: '\f105';
                font-family: "Font Awesome 6 Free";
                font-weight: 900;
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                display: var(--fa-display,inline-block);
                font-style: normal; font-variant: normal;
                line-height: 1; text-rendering: auto;
                font-size: 1rem;color: $black;
            }
        }
        .slick-prev{
            left: 200px;background-color: $white;top: unset; bottom: -100px;
            width: 35px; height: 35px;
            border-radius: 50%; box-shadow: 0 0 10px rgba($black, .2);
            z-index: 10;
            &::before{
                content: "\f104";
                font-family: "Font Awesome 6 Free";
                font-weight: 900;
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                display: var(--fa-display,inline-block);
                font-style: normal; font-variant: normal;
                line-height: 1;text-rendering: auto;
                font-size: 1rem;color: $black;
            }
        }
        &.slick-dotted.slick-slider{
            .slick-dots{display: none!important;}
        }
    }
}
// Slider Section End

// featured-product Sction start
.featured-product{
    padding: 100px 0; overflow: hidden;
    .sub-heading{
        font-size: 2.25rem;color: $link-hover;position: relative;
        margin-bottom: 50px;
        &::before{
            content:"";width: 3.5%;height: 2px;background-color: $link-hover;
            position: absolute; top: 50%; left: -50px;
        }
    }
    .product-slider{ 
        display: flex; align-items: center;
        .card{
            border: none;cursor: pointer; padding: 30px 0 10px;
            .heart{
                position: absolute;top: 5px;right: 10px;font-size: 1.5rem;color: rgba($black, .35);
                visibility: hidden;
            }
            .card-body{
                position: relative;
                .card-title{
                    @include flexbox; align-items: center; justify-content: center;
                    font-size: 1rem; font-family: $robo-med;color: $white;
                    background-color: rgba($black, .65); padding: 25px 0;
                    position: absolute; top: -70px; width: 100%;left: 0;
                    visibility: hidden;text-transform: uppercase
                }
                .color{
                    @include flexbox; align-items: center; margin-bottom: 10px;
                    .box{
                        width: 15px;height: 15px;background-color: $black;
                        &.green{background-color: #AACB23;margin: 0 10px;}
                        &.red{background-color: #BA3030;}
                    }
                    .color-count{font-size: 1rem;font-family: $robo-med;margin:0 0 0 10px;color: $black;}
                }
                .card-text{font-size: 1rem;font-family: $robo-reg;color: $black;margin-bottom: 5px;}
            }
    
            &:hover{
                .heart{visibility: visible;}
                box-shadow: 0 0 10px rgba($black, .2);
                .card-title{visibility: visible;}
            }
        }
        .slick-next{
            box-shadow: 0 0 5px rgba($black, .3);
            &::before{
                content: '\f105';
                font-family: "Font Awesome 6 Free";
                font-weight: 900;
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                display: var(--fa-display,inline-block);
                font-style: normal; font-variant: normal;
                line-height: 1; text-rendering: auto;
                font-size: 1rem;color: $black;
            }
         }
        .slick-prev{
            box-shadow: 0 0 5px rgba($black, .3);
            &::before{
                content: "\f104";
                font-family: "Font Awesome 6 Free";
                font-weight: 900;
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                display: var(--fa-display,inline-block);
                font-style: normal; font-variant: normal;
                line-height: 1;text-rendering: auto;
                font-size: 1rem;color: $black;
            }
        }
    }

}
// featured-product Sction end

// your T-shirt your idea section start
.idea-slider{
    overflow: hidden;
    .design-idea-slider{
        .card{ 
            border: none; box-shadow: 0 -2px 10px rgba($black, .3);
            .card-body{
                position: relative;text-align:center;z-index: 1000; padding: 15px 0 0;
                .box{
                    position: absolute;background-color: $white;top: -100px;
                    width: 80%;left: 12.5%;padding: 50px 0;margin: auto;z-index: 0;
                }
                .card-title{font-size: 2.5rem;font-family: $copycat;position: relative;}
                .card-text{font-size: 1rem;font-family: $robo-reg;margin: 20px 0}
                .btn{ @include btn;}
            }
        }
        .slick-next, .slick-prev{
             border-radius: 50%;
            &::before{
                color: $black;font-size: 2rem;
            }
        }
    }
}
// your T-shirt your idea section end

// Services Cards Section Start
.services{
   padding: 100px 0;position: relative;
    overflow: hidden;
    
    .block{
        text-align: center;position: relative; display: block; text-decoration: none;
        overflow: hidden; transition: 1s; height: 100%; box-shadow: 0 0 10px rgba($black, .4);

        .front{
            width: 100%;padding: 72px 20px; @include flexbox;flex-direction: column;
            justify-content: center;align-items: center;
            background-color: $link-hover;
            .title{
                font-size: 1.25rem;font-family: $robo-med;
                margin: 20px 0;color: $white;height: 100%;
            }
        }
        .back{
            width: 100%;padding: 50px 20px 20px;@include flexbox;flex-direction: column;
            justify-content: center;align-items: center;
             position: absolute;
            background-color: $white;bottom: 100%;
            transition: bottom 0.5s ease;
            .title{
                font-size: 1.25rem;font-family: $robo-med;
                margin: 20px 0;color: $link-hover;
            }
            .text{
                color: $black;font-size: 1rem; font-family: $robo-reg;
            }
        }
        &:hover{
            .back{bottom: 0;}
        }
    }

    ::after{
        content: '';width: 100%;position: absolute; height: 50%;
        background-color: $black;top: 25%;left: 0;z-index: -1;
    }
}
// Services Cards Section End

// Subscribe Form Section Start
.subscribe{
    background: url(../img/texture-bg-img.jpg)no-repeat;
    background-size: 100%; padding: 100px 0; margin-bottom: 80px;
    .form{
        background-color: $white;padding:60px; width: 100%;
        .form-group{
            margin-bottom: 1rem;
            .form-label{font-size: 1rem;font-family: $robo-reg;color: $black;}
            .form-control{
                border: 1px solid $btn-color; box-shadow: none;height: 45px;
            }
            .btn-warning{
                padding: 8px 50px;font-size: 1rem;font-family: $robo-bold;;
                text-transform: uppercase;color: $white;
                background-color: $btn-color;border: none;
                box-shadow: none;
            }
        }
    }
}
// Subscribe Form Section End

// T-Shirt Of The Weeek Section Sart
.weekly-offer{
    background: url(../img/week-offer-bg.jpg)no-repeat;
    background-size: 100%; text-align: left; padding: 10px 0; overflow: hidden;
    .sec-1{
        padding:150px 0 60px 50px; align-self: center;text-align:justify;
        .text{font-size: 1.125rem;color: $white;font-family: $robo-reg;line-height: 30px;}
    }
    .sec-2{
        padding: 100px 0 100px 80px;
        .main-title{font-size: 6rem;font-family: $copycat; color: $white;}
        .sub-title{font-size: 4.125rem;font-family: $friday-stroke;margin: 10px 0;}
        .btn-dark{
            font-size: 1rem;font-family: $robo-med;text-transform: uppercase;
            padding: 8px 50px;box-shadow: none;
            background-color: $black;
        }
    }
}   
// T-Shirt Of The Weeek Section End

// Unique T-shirt section Start
.unique-shirts{
    position: relative; padding: 50px 0; overflow-x: hidden;
    .girl-img{width: 35%;}
    .red-bg{width: 75%;position: absolute;right: 20px;}

    .content{
        padding: 20px 30px; text-align: center;
        position: absolute;z-index: 1;top: 20%;left: 40%;
        color: $white;
        .title{font-size: 1.875rem;font-family: $raphtalia;line-height: 40px;margin-bottom: 10px;}
        .text{font-size: 1rem;font-family: $robo-med;}
        .btn{
            @include btn;background-color: transparent;width: 50%;
            border: 1px solid $white; margin-top: 10px;

            &:hover{
                background-color: $btn-color;
            }
        }
    }
}
// Unique T-shirt section End

// Quick Buy Slider Section Start
.quick-buy{
    overflow: hidden; padding: 50px 0;
    .heading{
        padding-left: 85px; margin-bottom: 20px;
        .title{font-size: 1.125rem;font-family: $robo-med; text-transform: uppercase;}
        
    }
    .item-slider{
        @include flexbox;justify-content: space-between;background-color: $black;
        align-items: center;

        .items{
            display: block; padding:40px 30px 30px;
            @include flexbox; flex-direction: column;
            justify-content: center;align-items: center;
            text-decoration: none;
            .title{
                font-size: .875rem;font-family: $robo-reg;text-transform: uppercase;margin-top: 10px;color: $white;
                
            }
        }
    }
}
// Quick Buy Slider Section End

// Footer SEction Start
.footer{
    background-color: $black; padding-top: 55px;
    .block{
        .foot-title{
            font-size: 1rem;font-family: $robo-reg;
            margin-bottom: 20px;color: $white;
            text-transform: uppercase;
        }
        .foot-list{
            .foot-item{ 
                margin-bottom: 10px;
                .foot-link{
                    font-size: .9rem;color: rgba($white, .5);
                    font-family: $robo-reg; text-decoration: none;
                    text-transform: uppercase; padding: 5px 0;
                    &:hover{color: $white;}
                }
            }
        }

        .social{
            @include flexbox; justify-content: space-between; margin-bottom: 20px;
            &__link{
                color: $white;font-size: 1.25rem;color: rgba($white, .5);
                &:hover{color: $white;}
            }   
        }
        .google-review{
            @include flexbox; justify-content: flex-start; align-items: center;
            .img-fluid{margin-right: 15px;}
            .rate{
                display: flex;flex-direction: column;
                .star{
                    font-size: .875rem;display: flex;align-items: center;
                     justify-content: space-between;
                     .fa-star{color: rgba($white, .5);}
                    .rate-count{margin-bottom: 0;font-size: .875rem;color: $white;}
                    border-bottom: 1px solid rgba($white, .5);padding: 5px 0;
                }
                .review-text{font-size: .875rem;color: $white;padding: 5px 0;}
            }
        }
    }
}
// Footer SEction End