@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Black;
  src: url(../fonts/Roboto-Black.ttf);
}

body {
  padding-top: 120px;
}

.container {
  max-width: 1200px;
}

.header {
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 5px rgba(25, 23, 23, 0.2);
          box-shadow: 0px 3px 5px rgba(25, 23, 23, 0.2);
}

.header .top-strip {
  background-color: #191717;
  color: #fff;
  padding: 7px 0;
}

.header .top-strip .text {
  font-size: .875rem;
  margin: 0;
}

.header .navbar {
  padding: 20px 0;
}

.header .navbar-brand {
  width: 200px;
  height: 50px;
}

.header .navbar .navbar-toggler {
  background-color: red;
}

.header .navbar .navbar-toggler .navbar-toggler-icon {
  background: url(../img/list.svg) no-repeat center;
  background-size: 100%;
}

.header .navbar .collapse .navbar-nav .nav-item {
  padding: 5px 10px;
}

.header .navbar .collapse .navbar-nav .nav-item .nav-link {
  font-size: .875rem;
  color: #191717;
  font-family: Roboto-Medium;
  text-transform: uppercase;
  display: block;
  padding: 8px 12px;
  border-bottom: 2px solid transparent;
}

.header .navbar .collapse .navbar-nav .nav-item .nav-link:hover {
  color: #B0060F;
  border-color: #B0060F;
}

.header .navbar .collapse .navbar-nav .nav-item .bi {
  font-size: 1.125rem;
  font-weight: bold;
  color: #191717;
}

.header .navbar .collapse .navbar-nav .nav-item .bi:hover {
  color: #B0060F;
}

.header .navbar .collapse .navbar-nav .nav-item .badge {
  background-color: #B0060F;
  top: 25px;
  left: 15px;
  font-size: .6rem;
}

.hero_img .main-img {
  background-color: #DDB429;
}

.hero_img .main-img .content {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero_img .main-img .content .display-1 {
  position: absolute;
  left: -150px;
  top: 45%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 6.5rem;
  line-height: 125px;
  font-family: Roboto-Black;
  letter-spacing: 3px;
  color: rgba(176, 6, 15, 0.7);
}

.hero_img .main-img .content .card {
  width: 55%;
  margin: 60px auto 0;
  border: none;
  cursor: pointer;
}

.hero_img .main-img .content .card .card-body {
  padding: 20px 16px;
  background-color: #191717;
}

.hero_img .main-img .content .card .card-body .card-title {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-family: Roboto-Black;
  color: #fff;
  letter-spacing: 1px;
  margin-top: 10px;
}

.hero_img .main-img .content .card .top-bracket {
  position: absolute;
  top: -15px;
  right: -13px;
}

.hero_img .main-img .content .card .bot-bracket {
  position: absolute;
  bottom: -15px;
  left: -13px;
}

.hero_img .sec-2 .card {
  position: relative;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}

.hero_img .sec-2 .card .card-body {
  position: absolute;
  background-color: rgba(176, 6, 15, 0.75);
  width: 100%;
  bottom: -87px;
  left: 0;
  -webkit-transition: .5s;
  transition: .5s;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.hero_img .sec-2 .card .card-body .card-title {
  font-size: 1.30rem;
  font-family: Roboto-Bold;
  margin-bottom: 0;
}

.hero_img .sec-2 .card .card-body .card-text {
  font-size: .8rem;
  font-family: Roboto-Regular;
}

.hero_img .sec-2 .card .card-body .bi {
  font-size: 2rem;
}

.hero_img .sec-2 .card:hover .card-body {
  bottom: 0;
}

.collection {
  padding: 100px 0;
}

.collection .card {
  position: relative;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.collection .card .card-body {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  background-color: rgba(25, 23, 23, 0.65);
  padding: 25px 16px;
  -webkit-transition: .5s;
  transition: .5s;
}

.collection .card .card-body .card-title {
  color: #fff;
  font-family: Roboto-Bold;
}

.collection .card .card-body .card-title span {
  font-family: Roboto-Regular;
}

.collection .card .card-body .icons {
  display: none;
  margin: 0 auto 20px;
}

.collection .card:hover .card-body {
  bottom: 0;
}

.collection .card:hover .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider {
  background-color: #191717;
  padding: 100px 0;
}

.slider .carousel .card {
  padding: 20px 100px 0;
  position: relative;
  background-color: transparent;
  color: #fff;
  border: none;
}

.slider .carousel .card .card-body {
  position: absolute;
  top: 20%;
  left: -50px;
  width: 50%;
}

.slider .carousel .card .card-body .card-title {
  font-size: 2.625rem;
  text-transform: uppercase;
  position: relative;
  z-index: 100;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 20px;
}

.slider .carousel .card .card-body .card-title::before {
  content: "";
  width: 15%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 30%;
  left: -50px;
}

.slider .carousel .card .card-body .btn {
  font-size: 1.125rem;
  font-family: roboto;
  font-weight: bold;
  padding: 10px 30px;
  position: relative;
  border: none;
  z-index: 10;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.slider .carousel .card .card-body .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  background-color: #DDB429;
  -webkit-transition: .5s;
  transition: .5s;
  color: #fff;
  z-index: -1;
}

.slider .carousel .card:hover .card-body .card-title {
  z-index: 1000;
}

.slider .carousel .card:hover .card-body .btn::before {
  width: 100%;
  z-index: -1;
}

.slider .carousel .card.slick-current {
  -webkit-box-shadow: 0 0 10px rgba(25, 23, 23, 0.3);
          box-shadow: 0 0 10px rgba(25, 23, 23, 0.3);
}

.slider .carousel .slick-list {
  overflow: unset;
}

.slider .carousel .slick-next {
  right: 200px;
  background-color: #fff;
  top: unset;
  bottom: -100px;
  width: 35px;
  height: 35px;
  z-index: 10;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(25, 23, 23, 0.2);
          box-shadow: 0 0 10px rgba(25, 23, 23, 0.2);
}

.slider .carousel .slick-next::before {
  content: '\f105';
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  font-size: 1rem;
  color: #191717;
}

.slider .carousel .slick-prev {
  left: 200px;
  background-color: #fff;
  top: unset;
  bottom: -100px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(25, 23, 23, 0.2);
          box-shadow: 0 0 10px rgba(25, 23, 23, 0.2);
  z-index: 10;
}

.slider .carousel .slick-prev::before {
  content: "\f104";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  font-size: 1rem;
  color: #191717;
}

.slider .carousel.slick-dotted.slick-slider .slick-dots {
  display: none !important;
}

.featured-product {
  padding: 100px 0;
}

.featured-product .sub-heading {
  font-size: 2.25rem;
  color: #B0060F;
  position: relative;
}

.featured-product .sub-heading::before {
  content: "";
  width: 3.5%;
  height: 2px;
  background-color: #B0060F;
  position: absolute;
  top: 50%;
  left: -50px;
}
/*# sourceMappingURL=style.css.map */